body {
    background-image: url('images/filmes-noir.jpg'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}
form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 100px; 
}
h2 {
    text-align: center;
    color: red;
    font-size: xx-large;
    background-color: #454545;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #e80000;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #454545;
}