/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #f70d0d;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;


  }
  
  .search-input {
    position: absolute;
    top: 80px;
    right: 60px;
    width: 15%;
    height: 2%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 10px;
    color: #da0404;
    font-size: 18px;
}

  
  .movie {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(196, 4, 4, 0.8);
  }
  
  .movie h2 {
    margin-top: 0;
    margin-bottom: 10px;
    
  }
  
  .movie p {
    margin: 0;
    color: #be0606;
  }
  
  .button {
    padding: 5px 15px;
    margin-top: 10px;
    background-color: #f0f0f0;
    color: #020000;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: red;
}

.button.watched {
    background-color: #333;
    color: #f40612;
}

.button.add {
  padding: 5px 12px;
  margin-left: 15px;
  background-color: #fd0a0acd;
  color: #030303;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.button.add:hover {
  background-color: #f40612;
}

  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .search-input {
      font-size: 16px;
      padding: 12px;
      margin-bottom: 20px;
      
    }
  
    .movie {
      padding: 15px;
    }
  
    .button {
      padding: 12px 24px;
      font-size: 16px;
    }
  }
  