@import "../../../styles/variables.scss";

.input-wrapper {
    color: $dark-gray-color;
    text-align: start;
    font: $font-text;

    label {
        margin-bottom: 10px;
        color: $gray-color;
    }

    .input-content {
        width: 100%;
        border-radius: 8px;
        display: flex;
        
        .icon {
            padding: 12px;
            background-color: $primary-color;
            border-radius: 0 8px 8px 0;

            img {
                height: 20px;
            }
        }

        input {
            border: none;
            border-radius: 8px 0 0 8px;
            background-color: $dark-background;
            padding: 12px 0 12px 20px;
            width: 100%;
        }

        button {
            font: $font-text-bold;
            border: none;
            background-color: transparent;
            border-radius: 10px;
            padding: 12px;
            cursor: pointer;
        }

        
    }
}