@import "../../../styles/variables.scss";

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 100vh;

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

    .form-section {
        padding: 0 2.5rem;
        width: 30rem;

        h2 {
            font: $font-title;
            color: $dark-color;
            margin-bottom: 2rem;
        }

        button {
            font: $font-text-bold;
            border: none;
            background-color: transparent;
            width: 100%;
            border-radius: 0.6rem;
            padding: 0.75rem;
            cursor: pointer;

            &:disabled{
                opacity: 0.4;
            }

            &.btn-primary {
                background-color: $primary-color;
                color: white;
                box-shadow: 0px 8px 12px rgba(183.00000429153442, 33.00000183284283, 87.00000241398811, 1);
                margin-bottom: 2rem;
            }

            &.btn-secondary {
                margin-top: 2rem;
                color: $primary-color;
                border: 1px solid $primary-color;
            }
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 0.6rem;

            span{
                font: $font-text-light;
                color: $gray-color;
                text-transform: uppercase;
            }

            .decorator-line{
                flex-grow: 1;
                height: 1px;
                background-color: $gray-color;
            }
        }
    }
    
    .decoration-section {
        padding: 0 3rem;
        background-color: $dark-background;


        img {
            width: 60rem;
            height: 50rem;
        }
    }