$primary-color: #fd015c;
$secondary-color: #b72157;
$light-color: #ac667f;
$dark-color: #441929;
$gray-color: #c2c2c2;
$dark-gray-color: #555555;
$dark-background: #c0b1b1;
$font-title: bold 48px 'Lobster Two';
$font-text: 16px 'Ubuntu';
$font-text-light: light 16px 'Ubuntu';
$font-text-bold: bold 16px 'Ubuntu';
$font-alert: bold 20px 'Ubuntu Mono';