<app-variant-input 
placeholder="O que você quer assistir?"
(submit)="fetchMoviesFilter()"
inputName="Pesquisa"
></app-variant-input>
<button (click)="logout()">deslogar</button>

<div *ngIf="movies.length > 0">
    <h2>Movies</h2>
    <div *ngFor="let movie of movies">
      <div class="movie">
        <h2>{{ movie.titulo }} ({{ movie.lancamento }})</h2>
        <p>{{ movie.diretor }}</p>
        <p>{{ movie.descricao }}</p>
  
        <button *ngIf="movies.length != 0" (click)="toggleWatched(movie)">
          <i *ngIf="!movie.watched" class="material-icons">remove_from_queue</i> <i *ngIf="movie.watched" class="material-icons">check</i>  </button>
      </div>
    </div>
  </div>
  
  <div *ngIf="movies.length === 0">
    <h2>Loading movies...</h2>
  </div>

  <app-variant-input 
placeholder="Não encontrou o que queria? Sugira para o nosso catálogo!"
(submit)="suggestMovie()"
inputName="Sugestao"
></app-variant-input>